@font-face {
    font-family: 'Audi Type Extended';
    src: url('AudiType-ExtendedNormal.woff2') format('woff2'),
        url('AudiType-ExtendedNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Audi Type';
    src: url('AudiType-Italic.woff2') format('woff2'),
        url('AudiType-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Audi Type';
    src: url('AudiType-BoldItalic.woff2') format('woff2'),
        url('AudiType-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Audi Type';
    src: url('AudiType-Bold.woff2') format('woff2'),
        url('AudiType-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Audi Type Extended';
    src: url('AudiType-ExtendedItalic.woff2') format('woff2'),
        url('AudiType-ExtendedItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Audi Type Wide';
    src: url('AudiType-WideLight.woff2') format('woff2'),
        url('AudiType-WideLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Audi Type';
    src: url('AudiType-Normal.woff2') format('woff2'),
        url('AudiType-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Audi Type Wide';
    src: url('AudiType-WideBold.woff2') format('woff2'),
        url('AudiType-WideBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Audi Type Wide';
    src: url('AudiType-WideNormal.woff2') format('woff2'),
        url('AudiType-WideNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Audi Type Extended';
    src: url('AudiType-ExtendedBold.woff2') format('woff2'),
        url('AudiType-ExtendedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Audi Type Extended';
    src: url('AudiType-ExtendedBoldItalic.woff2') format('woff2'),
        url('AudiType-ExtendedBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Audi Type Extended';
    src: url('AudiType-ExtendedNormal.woff2') format('woff2'),
        url('AudiType-ExtendedNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Audi Type Wide';
    src: url('AudiType-WideLight.woff2') format('woff2'),
        url('AudiType-WideLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Audi Type';
    src: url('AudiType-Italic.woff2') format('woff2'),
        url('AudiType-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Audi Type Extended';
    src: url('AudiType-ExtendedItalic.woff2') format('woff2'),
        url('AudiType-ExtendedItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Audi Type Extended';
    src: url('AudiType-ExtendedBoldItalic.woff2') format('woff2'),
        url('AudiType-ExtendedBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Audi Type Wide';
    src: url('AudiType-WideNormal.woff2') format('woff2'),
        url('AudiType-WideNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Audi Type';
    src: url('AudiType-BoldItalic.woff2') format('woff2'),
        url('AudiType-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Audi Type';
    src: url('AudiType-Normal.woff2') format('woff2'),
        url('AudiType-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Audi Type Wide';
    src: url('AudiType-WideBold.woff2') format('woff2'),
        url('AudiType-WideBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Audi Type Extended';
    src: url('AudiType-ExtendedBold.woff2') format('woff2'),
        url('AudiType-ExtendedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Audi Type';
    src: url('AudiType-Bold.woff2') format('woff2'),
        url('AudiType-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

